<%= render @post.author %>

<div class="card m-3">
  <span class="ms-auto">Comments: <%= @post.comments_counter %> | Likes: <%= @post.likes_counter %></span>
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.text || '...' %></p>
  </div>
</div>

<ul class="col">
  <%= render @post.comments %>
</ul>
